<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is my home page</title>
    {% include 'material/includes/material_css.html' %}
    {% load static %}
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
</head>
<body>
<h1> This is my home page</h1>
<ul>
    {% for Restaurant in allRestaurant %}
    <li><a href="/restaurant/{{Restaurant.id}}/">{{ Restaurant.name}}</a></li>
    {% endfor %}
</ul>

</body>
</html>